{% extends 'base.html.twig' %}

{% block main %}
    {{ form_start(form) }}
    
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.address) }}
                {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.schedule) }}
                {{ form_widget(form.schedule, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.website) }}
                {{ form_widget(form.website, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.nonstop) }}
                {{ form_widget(form.nonstop) }}
            </div>

            <div class="form-group">
                {{ form_label(form.city) }}
                {{ form_widget(form.city, {'attr': {'class': 'form-control select2'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': '20'}}) }}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
	    	<input type="submit" value="{{ 'Save Medical Center'|trans() }}" name="submit" class="btn btn-info"/>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
