{% extends 'base.html.twig' %}

{% block main %}
<h1>{{ this.title }}</h1>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-hover table-striped">
            <tbody>
            <tr>
                <td class="bold">Judet</td>
                <td>{{ this.city.name }}</td>
            </tr>
            <tr>
                <td class="bold">Adresa</td>
                <td>{{ this.address }}</td>
            </tr>
            <tr>
                <td class="bold">Program
                    {% if this.isNonStop %}
                        <span class="badge">non-stop</span>
                    {% endif %}
                </td>
                <td>{{ this.schedule }}</td>
            </tr>
            <tr>
                <td class="bold">Website</td>
                <td>
                    {% if this.website %}
                    <a href="{{ this.website }}" target="_blank">{{ this.website }}</a>
                    {% else %}
                    -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="bold">Telefon</td>
                <td>{{ this.phone }}</td>
            </tr>
            <tr>
                <td class="bold">Email</td>
                <td>{{ this.email }}</td>
            </tr>
            <tr>
                <td class="bold">Rating</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <p>{{ this.description }}</p>
    </div>
</div>

<h2>Ai fost la acest cabinet veterinar?</h2>
<p>Scrie un review sau lasa parerea ta despre cabinetul <b>{{ this.title }}</b></p>

<form action="" id="reviewForm" method="POST">
    <input type="hidden" name="cabinet_id" value="{{ this.id }}"/>
    <div class="form-group">
        <input type="text" name="nume" placeholder="numele tau" class="form-control required"/>
    </div>
    <div class="form-group">
        <label for="">Acorda o nota</label>
        <input class="rating" type="number" name="rating" data-min="1" data-max="5"/>
    </div>
    <div class="form-group">
        <textarea name="mesaj" class="form-control required" rows="5" placeholder="comentariul tau"></textarea>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-success" id="reviewSaveBtn" onclick="return salveazaReview()">Salveaza Review</button>
    </div>
</form>

{#{{ this.reviews|view('main') }} todo add reviews to page #}
{% endblock main %}


    {% block javascript %}
    <script src="{{ asset('js/bootstrap-rating-input.min.js') }}"></script>
    <script>
        function salveazaReview(){
            var $data = $('form#reviewForm').serialize();
            var hasError = false;

            $('form#reviewForm .required').each(function() {
                if($(this).val() == "") {
                    $(this).closest('div').addClass('has-error');
                    hasError = true;
                } else {
                    $(this).closest('div').removeClass('has-error');
                }
            });

            if(hasError == true) {
                return false;
            }

            $.ajax({
                url: "", {# todo save review #}
                data: $data,
                method: "POST",
                beforeSend: function(){
                    $('#reviewSaveBtn').addClass('m-progress');
                    $('#reviewSaveBtn').attr('disabled', true);
                    $('#reviewForm input').attr('disabled', true);
                    $('#reviewForm textarea').attr('disabled', true);
                },
                success: function(data) {
                    $('#reviewSaveBtn').removeClass('m-progress');
                    $('#reviewSaveBtn').attr('disabled', false);
                    $('#reviewForm')[0].reset();
                    $('#reviewForm input').attr('disabled', false);
                    $('#reviewForm textarea').attr('disabled', false);

                    var n = noty({
                        text        : 'Va multumim pentru review. Acesta va aparea pe site imediat dupa aprobare.',
                        type        : 'success',
                        layout      : 'bottomRight',
                        theme       : 'relax'
                    });
                },
                error: function() {
                    $('#reviewSaveBtn').removeClass('m-progress');
                    $('#reviewSaveBtn').attr('disabled', false);
                    $('#reviewForm input').attr('disabled', false);
                    $('#reviewForm textarea').attr('disabled', false);

                    var n = noty({
                        text        : 'A aparut o eroare. Te rugam sa incerci mai tarziu :(',
                        type        : 'error',
                        layout      : 'bottomRight',
                        theme       : 'relax'
                    });
                }
            });
        }

        function raporteazaReview(id, motiv){
            var $data = {
                'id': id,
                'motiv': motiv
            };

            $.ajax({
                url: "", {# todo report review #}
                data: $data,
                method: "POST",
                success: function(data) {
                    var n = noty({
                        text        : 'Va multumim pentru raportare.',
                        type        : 'success',
                        layout      : 'bottomRight',
                        theme       : 'relax'
                    });
                },
                error: function() {
                    var n = noty({
                        text        : 'A aparut o eroare. Te rugam sa incerci mai tarziu :(',
                        type        : 'error',
                        layout      : 'bottomRight',
                        theme       : 'relax'
                    });
                }
            });

            return false;
        }
    </script>
{% endblock %}
