{% extends '::base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="text-center col-sm-4 col-sm-offset-4">
            <h1>{{ 'Register Title'|trans }}</h1>
            <p>{{ 'Register subtitle'|trans|raw }}</p>

            {{ form_start(form, {'method': 'post', 'action': path('register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Register Email'|trans}}) }}
                {# todo customize error display #}
                {{ form_errors(form.email) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Register Password'|trans}}) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Register Password Confirmation'|trans}}) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>

            <input type="submit" value="{{ 'Register'|trans }}" class="btn btn-success"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
