{% extends '::base.html.twig' %}

{% block main %}
    {# todo move text to translation file #}
    <div class="row">
        <div class="text-center col-sm-4 col-sm-offset-4">
            <h3>Ai pierdut parola?</h3>
            <p>Te rugam sa introduci adresa ta de email in campul de mai jos si iti vom trimite un email cu un link pentru a-ti reseta parola.</p>
            <form class="m-t" role="form" action="{{ path('forgot_password') }}" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <div class="form-group">
                    <input type="text" id="email" name="_email" value="{{ email }}" required="required"
                           class="form-control" placeholder="{{ 'form.email'|trans }}"/>
                </div>
                <input type="submit" id="_submit" name="_submit" value="Reseteaza"
                       class="btn btn-primary block full-width m-b"/>
            </form>
        </div>
    </div>
{% endblock %}
