<h2>Vrei sa {% if this.isMale %}il{% else %}o{% endif %} adopti?</h2>
<p>{% trans %}Trimite un mesaj celui care a adaugat anuntul:{% endtrans %}</p>

{{ form_start(messageForm, {attr: {id: 'sendMessageForm'}}) }}
{{ form_widget(messageForm._token) }}
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            {{ form_label(messageForm.email) }}
            {{ form_widget(messageForm.email) }}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            {{ form_label(messageForm.phone) }}
            {{ form_widget(messageForm.phone) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            {{ form_label(messageForm.content) }}
            {{ form_widget(messageForm.content) }}
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <button type="submit" class="btn btn-success" id="reviewSaveBtn">
                {% trans %}Trimite mesaj autorului anuntului{% endtrans %}
            </button>
        </div>
    </div>
</div>
{{ form_end(messageForm) }}

<script>
    $(function() {
        var formSendMessage = '#sendMessageForm';

        $(formSendMessage).submit(function(e) {
            e.preventDefault();

            $.ajax({
                url: "ajax/message/{{ this.id }}/send",
                type: 'post',
                data: $(formSendMessage).serialize(),
                success: function(result){
                    $("#div1").html(result);
                }
            });

            return false;
        });
    });
</script>