<div class="navigation">
    <nav class="navbar yamm navbar-custom" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('home') }}" class="navbar-brand">{{ 'navbar.home'|trans }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" title="Adopta un suflet">
                        <i class="glyphicon glyphicon-heart"></i>
                        {{ 'navbar.adopt'|trans }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for type in types.all() %}
                            <li>
                                <a href="{{ type|url }}" title="{% trans with {'%type%':type} %}Adoptions %type%{% endtrans %}">
                                    {% trans with {'%type%':type} %}Adoptions %type%{% endtrans %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{ 'Adopt a pet from city'|trans }}">
                        <i class="glyphicon glyphicon-picture"></i>
                        {{ 'Choose city'|trans }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu scrollable-menu meniuCab">
                        {% for city in cities.all() %}
                            <li>
                                <a href="{{ city|url }}" title="{% trans with {'%city%':city.getName} %}Adoptions from %city%{% endtrans %}">
                                    {{ city.getName }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" title="{{ 'Veterinaries List'|trans }}">
                        <i class="glyphicon glyphicon-plus"></i>
                        {{ 'Veterinaries'|trans }} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu scrollable-menu meniuCab">
                        {% for city in cities.all() %}
                            <li>
                                <a href="{{ path('vet.list', {"slug": city.slug}) }}"
                                   title="{{ 'Veterinaries from %city%'|trans({'%city%':city.name}) }}">
                                    {{ city.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-btn adaugaBtn">
                        <a href="{{ path('classified.new') }}"
                           title="{{ 'Add a dog or a cat for adoption'|trans }}"
                           class="btn btn-danger">
                            <i class="glyphicon glyphicon-plus"></i>
                            {{ 'Add classified'|trans }}
                        </a>
                    </p>
                </li>
                <li>
                    <p class="navbar-btn adaugaBtn">
                        <a href="{{ path('vet.add') }}"
                           title="{{ 'Add a veterinary medical center'|trans }}" class="btn btn-warning">
                            <i class="glyphicon glyphicon-plus"></i>
                            {{ 'Add a veterinary medical center'|trans }}
                        </a>
                    </p>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-search"></i>
                        <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu" id="cauta">
                        <form action="{{ path("search") }}" class="form-inline" role="form">
                            <div class="input-group">
                                <input type="text" class="form-control" name="q" placeholder="{{ 'Search Placeholder'|trans }}">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">{{ 'Search'|trans }}</button>
                              </span>
                            </div><!-- /input-group -->
                        </form>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> {{ 'My account'|trans }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <a href="{{ path('dashboard') }}" title="{{ 'My classifieds'|trans }}">
                                    {{ 'My classifieds'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('dashboard.change_password') }}" title="{{ 'Change your password'|trans }}">
                                    {{ 'Change your password'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('logout') }}" title="{{ 'Logout'|trans }}">
                                    {{ 'Logout'|trans }}
                                </a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('login') }}" title="{{ 'Login'|trans }}"><i class="glyphicon glyphicon-map-marker"></i> {{ 'Login'|trans }}</a></li>
                            <li><a href="{{ path('register') }}" title="{{ 'Register'|trans }}"><i class="glyphicon glyphicon-user"></i> {{ 'Register'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
