<div class="panel">
    <a href="#" class="btn btn-info form-control" id="shelterSideBtn" title="{{ 'partials.sidebar.shelter.title'|trans }}">
        {{ 'partials.sidebar.shelter.text'|trans }}
    </a>
    <br /><br />
    <a href="#" class="btn btn-success form-control" onclick="return feedback()" id="feedbackBtn" title="{{ 'partials.sidebar.feedback.title'|trans }}">
        {{ 'partials.sidebar.feedback.text'|trans }}
    </a>
</div>

<div class="panel">
    <a href="{{ path('adoptii.type', {'slug': 'caini'}) }}" title="{{ 'partials.sidebar.adopt_dog'|trans }}">
        <img src="{{ asset('images/adopta-caine.png')}}" style="width:100%" alt="{{ 'partials.sidebar.adopt_dog'|trans }}" />
    </a>

    <br />
    <br />

    <a href="{{ path('adoptii.type', {'slug': 'pisici'}) }}" title="{{ 'partials.sidebar.adopt_cat'|trans }}">
        <img src="{{ asset('images/adopta-pisica.png')}}" style="width:100%" alt="{{ 'partials.sidebar.adopt_cat'|trans }}" />
    </a>
</div>
<div class="panel">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FAdoptaunsufletro%2F389663321199892&amp;width=261&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=1490320691238625" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:261px; height:290px;" allowTransparency="true"></iframe>
</div>
