<div class="thumbnail">
    <div class="caption">
        <h3 class="cablisting">
            <a href="{{ this|url }}"
               title="{{ 'Detalii %ad_title%'|trans({'%ad_title%': this.title}) }}">{{ this.title }}</a>
        </h3>
        <p class="cabinfo pull-left">
            {% if this.email %}
                <i class="glyphicon glyphicon-envelope" title="{{ 'Are Adresa de Email'|trans }}"></i>
            {% endif %}

            {% if this.phone %}
                <i class="glyphicon glyphicon-earphone" title="{{ 'Are Numar de Telefon'|trans }}"></i>
            {% endif %}

            {% if this.website %}
                <i class="glyphicon glyphicon-globe" title="{{ 'Are Website'|trans }}"></i>
            {% endif %}

            <span class="label label-info"
                  title="{{ 'Acest Cabinet Veterinar are %nr% review-uri'|trans({'%nr%': this.reviews|length }) }}">
                {{ '%nr% review-uri'|trans({'%nr%': this.reviews|length }) }}
            </span>
        </p>

        <p class="pull-right">
            {% if this.nonStop %}
                <span class="label label-danger">{{ 'non-stop'|trans }}</span>
            {% endif %}
        </p>

        <div class="clearfix"></div>

        <p>{{ this.description }}</p>
        <p>
            <a href="{{ this|url }}" title="{{ 'See more information about %title%'|trans({'%title%': this.title}) }}"
               class="btn btn-primary btn-xs pull-right"
               role="button"> {{ 'Medical center listing details link'|trans }}</a>
        </p>
        <div class="clearfix"></div>
    </div>
</div>
