<a href="{{ this|imageLink }}" title="{{ this.classified.title }}" class="item" data-gallery rel="group">
    <img src="{{ this|thumb }}" alt="{{ this.classified.title }}" title="{{ this.classified.title }}"/>
</a>
